@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.androidIcon{
    transform:scale(3);
    position:relative;
    left:50px;
    color:#fced21;
    position:absolute;
    left:2%;
  }
  .myName{
    position:absolute;
    left:6.5%;
    font-size:1.8rem;
    opacity:0.8;
    font-family: 'Poppins',sans-serif
    
  }
  .searchBarContainer{
  
    width:300px;
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .searchBar{
    border-radius:50px;
    border:none;
    background:rgba(255,255,255,0.3);
    height:45px;
    width:380px;
    cursor:pointer;
    outline:none;
    color:rgba(255,255,255,0.6);
    font-size:1.1rem;
    padding-left:30px;
    position:relative;
    right:15px;
  }
  .searchBar::placeholder{
    font-size:1.1rem;
    color:white;
    opacity:0.6
  }
  .header{
    display:flex;
    justify-content:center;
    align-items:center;
    width:102.5%;
    height:55px;
    transition: 0.3s;
    background:#313c4e;
    position:fixed;
    top:0;
    left:0;
    padding-top:10px;
    padding-bottom:10px;
    z-index:20;
  
  }
  .navLinks{
    display:flex;
    justify-content:center;
    list-style-type:none;
    position:relative;
    left:85px;
  }
  .navLinks > li > a{
    margin:5px;
    font-weight:500;
    opacity:0.6;
    cursor:pointer;
    position:relative;
    transition:0.3s;
    width:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:2px;
    transition:0.3s;
    color:white;
    text-decoration:none;
    font-family:'Poppins',sans-serif
  }
  .navLinks > li > a::before{
    content:'';
    width:0%;
    height:1px;
    position:absolute;
    bottom:0;
    background:white;
  }
  .navLinks > li > a:hover{
color:#ffee00;
transform:scale(1.1)
  }
  .navLinks > li > a:hover::before{
    width:100%;
    transition: 0.3s;
  }
  .channelButton{
    cursor:pointer;
    position:absolute;
    left:83%;
    width:120px;
    height:45px;
    outline:none;
    font-weight:500;
    font-weight:700;
    border:2px solid white;
    border-radius:3px;
    background:none
  }
  .channelButton > a {
    color:white;
  }
  .channelButton::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:100%;
    background:#fc2121b7;
    z-index:2;
    transition:0.6s;
  }
  /*    background:#ec532dc5;   orangish hover effect background pseudo element*/ 
  
  .channelButton:hover:before{
    width:100%;
  }
  .toggleMenu{
    position:relative;
    left:260px;
cursor:pointer;
bottom:6px;
  }
  .line{
    width:30px;
    height:4px;
    background:white;
    margin-top:9px;
    transition:1s;
    position:relative;
    border-radius:50px
  }
.line1{

}
.line1.active{
  transform:rotate(-50deg) translateY(13px) translateX(-14px) scale(1.25);

}
.line2.active{
  transform:translateX(-50px);
  background:transparent;
  transition:1s;
}
.line3.active{
  transform:rotate(50deg) translateY(-5px) translateX(-5px) scale(1.25)
}
