@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

  .wrapper{
    height:calc(100vh - 25px);

  }
  .rightHome{
    width:50%;
    height:calc(100vh - 55px);
    float:right;
    position:relative;
    top:200px;
    right:80px;
  }
  
  .slapButton{
    color:white;
    cursor:pointer;
    width:200px;
    height:75px;
    outline:none;
    font-weight:100;
    transition:1s;
    font-weight:700;
    border:1.5px solid white;
    border-radius:3px;
    background:none;
    font-size:25px
  }
  .slapButton > a{
      color:white;
      text-decoration: none;
  }
  .slapButton:hover{
      background:white;
      color:black;
  }

.fullName{
  font-family:'Poppins',sans-serif;
  font-size:45px;
  margin-bottom:5px;
}
.occupation{
  font-weight:bold;
  font-size:20px;
}
.myFace{
  width:300px;
  position:absolute;
  top:30%;
  left:5%;
  border-radius:15px;
}
.reaction{
  color:white;
  position: absolute;
  top:87%;
  left:9%;
}