@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.projDescr{
    width:100%;
    text-align:center;
    background:#080c1f;
    margin-bottom:-17px;
    margin-top:-22px;
    z-index:9999
}
.text{
    color:#dfe7eb;
font-family: 'Quicksand',sans-serif;
}

/* blueish black color, pretty ideal #001833 */
