.projDescr{
    width:100%;
    text-align:center;

    margin-bottom:60px;
}
.text{
    color:#dfe7eb;
position:relative;
left:25%
}
.projectCaption{

}
/* blueish black color, pretty ideal #001833 */